<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button onclick="app.openForm()">Open Form</button>
      <!-- <h1>{{a}}</h1> -->
      <p>Nilai a : {{hasil}}</p>
      <p>Rata rata : {{hasil/4}}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          a: "",
          b: "",
          c: "",
          d: "",
        },
        methods: {
          openForm: function () {
            this.a = prompt("Masukkan nilai a");
            this.b = prompt("Masukkan nilai b");
            this.c = prompt("Masukkan nilai c");
            this.d = prompt("Masukkan nilai d");
          },
        },
        computed: {
          hasil: function () {
            return (
              parseInt(this.a) +
              parseInt(this.b) +
              parseInt(this.c) +
              parseInt(this.d)
            );
          },
        },
      });
    </script>
  </body>
</html>
