<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filter</title>
    <style>
      #app {
        background-color: rgb(137, 170, 192);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      p {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>Belajar Mengenai Filter</h1>
      <p>Cari berdasarkan kata kunci</p>
      <input type="text" v-model="keyword" placeholder="ketikkan kata kunci" />
      <ul>
        <li v-for="(book, index) of filterBooks" :key="index">{{ book }}</li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          keyword: "",
          books: [
            "Kalkulus Dasar",
            "Fisika Dasar",
            "Aljabar Linier Elementer",
            "Aljabar Abstrak",
            "Algoritma Pemrograman",
          ],
        },
        computed: {
          filterBooks() {
            return this.books.filter((book) => {
              return book.toLowerCase().includes(this.keyword.toLowerCase());
            });
          },
        },
      });
    </script>
  </body>
</html>
